fltgui/color_assessment_marg:0.1
fltgui/color_assessment_fram:0.03
intgui/wd:2536
intgui/ht:1382
strqvk/device_name:null
intqvk/device_id:-1
intgui/allowhdr:0
intgui/vk_present_mode:0
fltgui/panelwd:0.2
fltgui/dpiscale:1
strgui/msdffont:font
intgui/thumbnail_cache_MB:16
strgui/ruc_entry00:/home/phcreery/Pictures&all
intgui/images_per_line:6
intgui/frame_limiter:6
intgui/ruc_num:1
intgui/lod:2
intgui/lod_interact:3
fltgui/zoom_speed:1.1
